root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{js,jsx,ts,tsx,mjs,cjs,html}]
indent_size = 2

[*.{json,jsonc,css,scss,sass,less,html,htm,yml,yaml,md,mdx}]
indent_size = 2
